.body-vertical-center {
    transform: translateY(50%);
}
.form-group.required .control-label:after {
    content:"*";
    color:red;
}

img.lang{
    width: 25px;
    height: 25px;
}

.width1000{
    width: 1000px;
}

.width800{
    width: 800px;
}

.width400{
    width: 400px;
}

.width300{
    width: 300px;
}

.width260{
    width: 260px;
}

.width200{
    width: 200px;
}

.width140{
    width: 140px;
}

.width120{
    width: 120px;
}

.width100{
    width: 100px;
}

.width60{
    width: 60px;
}

.width40{
    width: 40px;
}

.width20{
    width: 20px;
}

.width10{
    width: 10px;
}

.input-search{
    float:left;margin-left:10px;
}

.panel-questions{
    width: 95%;margin: 0 auto;
}

ul.hide{
    display: none;
}

.btn-page{
    cursor: pointer;
}

.actions-column{
    width:140px;
}

actions-column-4{
   width:180px;
}

.long-text-column{
    max-height:60px;
    overflow-y: auto;
}

.tip-info-img{
    width: 20px;
    height: 20px;
}

.vertical-margin10{
    margin-top: 10px;margin-bottom: 10px;
}