.body-vertical-center {
    transform: translateY(50%);
}
.form-group.required .control-label:after {
    content:"*";
    color:red;
}

img.lang{
    width: 25px;
    height: 25px;
}

.width400{
    width: 400px;
}

.width200{
    width: 200px;
}

.width100{
    width: 100px;
}

.width60{
    width: 60px;
}

.width40{
    width: 40px;
}

.width20{
    width: 20px;
}

.input-search{
    float:left;margin-left:10px;
}

.panel-questions{
    width: 95%;margin: 0 auto;
}

ul.hide{
    display: none;
}

.btn-page{
    cursor: pointer;
}